[Unit]
Description=SIGpoor AX.25 Service

Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 15
ExecStart=/bin/sh -c "rtl_tcp -a $(hostname -I)"
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target